body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

header, footer {
    background-color: rgb(250, 187, 52);
}

.site-title{
    color: blue;
}

#my-image {
    box-shadow: 0 0 2px 1px;
    color: black;
}

ul.one {
    list-style-type: square;
}