/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* Reset code */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My css*/
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* This is the maximum width of the container */
.container{
    max-width: 1200px;
}
/* This wrapper makes all the wrapped contenet center */
.wrapper {
    max-width:90%;
    margin: 0 auto;
}
/* style the font weight of the wrapper's heading */
.wrapper h1, h2, h3, h4 {
     font-weight: bolder;  
}

/* style the hader color */
header {
    background-color:  #222;
    border: 12px solid  #222; 
    
}
.logo {
   width: 100%;
   background-color:#c78c06;
}

/* This line code style the home active bar only */
nav ul li .active{
    color: #222;
    background-color: #c78c06;
    max-width: 100%;
    padding: 10px;
}

/* These lines of code style the navigation bar */  
.home ,nav ul {
    list-style: none;
     padding-left: 0;
     text-align: center;      
} 
/* This style change the color of the home navigation bar */
.home a {
      color:  #222;
}
/* These style change the color of the navigation bar except the home nav */
 nav ul li a {
      color:#c78c06;
}
  .home ,nav a {
      text-decoration: none; 
}
.home nav ul li {
      margin: 1rem;  
}
nav ul li {
      margin: 1rem;   
}
.search-bar{
    position: relative;
    width: 100%;
    text-align: center;
    padding: 5px;   
}
.tbox{
    width: 50%;
    padding: 5px;
}
/* this line of style all  the image width 100% */
.img-banner ,.img-about {
    width: 100%;
}
.img-john ,.img-bob {
    width: 100%;
}
.welcome{
    position: relative;
}
/* these styles make overlay text on the heading banner image */
.banner-text-overlay{ 
    position:absolute;
    top: 100px;
    max-width: 1200px;
    text-align: left;
    background-color: rgba(34, 34, 34, 0.692);
    padding: 10px;
    line-height: 25px;
}
.banner-text-overlay h1 {
    font-size: 3rem;
    line-height: 50px;  
    color: white;
}
.banner-text-overlay p {
    font-size: 16px;
    line-height: 20px;  
    color: white;
    margin-bottom: 20px;
}
.welcome {
    background-color: #ffe6ac;
}
.banner-text-overlay a { 
    color: #222;
    text-decoration: none;
    font-size: 20px;      
}

/* These are the style for buttons and change the buttunes color, width and their padding */
.btn-1 {
    max-width: 40px;
    padding: 5px;
    margin: -6px;
    border-color:#c78c06;
    color: #c78c06;
    background-color:  rgb(31, 29, 29);     
    cursor: pointer;
}
.btn-2 {
    background-color: #c78c06;
    padding: 10px;
    border:none;
    max-width: 30%;
    cursor: pointer;
    border-radius: 2px;
}
.btn-3{
    background-color: #222;
    font-size: 18px;
    padding: 30px;
    margin: 5px 20px 10px 10px;
    max-width: 150px;
    cursor: pointer;
    border-radius: 2px;
}

.btn-3 i {
   color: rgb(255, 255, 255);

}
.btn-4{
    background-color: #222;
    padding: 20px;
    margin-top: 10px;
    max-width: 100px;
    cursor: pointer;
    border: 2px solid #c46a16;
    border-radius: 2px;
    
}
.btn-4 a{
    text-decoration: none;
    color: white;
 
}

/* styling about us image width and divs contents style all contents inside it*/
.about-us {
    width: auto;
    background-color:#ffe6ac;

}
.img-about{
    width: 100%;
    display: block;
    margin: 5px auto 0 auto;

}
.about-us h2 {
    font-size: 2rem;
    padding: 10px 10px 10px 0;
}
.about-us p {
    padding: 0 20px 20px 0;
}

/* Change the a tag inside service class and h2 font size*/
.services a { 
    color: rgb(255, 255, 255);
    text-decoration: none;    
}
.services-h2{
    font-size: 4rem;
    padding: 20px 0px 20px ;
}
/* This style set the width of digitals class image 100% style all contents inside it*/
.img-digital{
    width: 100%;
}

.digital-section{
    background-color: #ffe6ac;   
    margin-top: 12px;
    border-radius: 5px;
    border: 2px solid whitesmoke;
    line-height: 20px;

}
.digital-section h3{
    padding: 20px 10px 20px;
    font-size: 1.5rem;
}
.digital-section p{
    padding: 2px 10px 20px;
    font-size: 16px;
}
